.header {
    background-color: #ffffff;
    height: 156px;
    display: flex;
    align-items: center;
}

.header__hrefs {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.header__hrefs__href {
    color: #635B5B;
    text-decoration: none;
    font-size: 24px;
    font-style: italic;
}

.header__img1 {
    padding-left: 50px;
    object-fit: contain;
    width: 100px;
    height: 100px;
}

.header__hrefs__href_active {
    font-weight: bold;
    position: relative;
}

.header__hrefs__href_active::after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #635B5B;
}

.header__img2 {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

.header__signs {
    display: flex;
    width: 130px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.header__button {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFA552;
    border: none;
    border-radius: 10px;
    width: 115px;
    height: 36px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}

.header__avatar-container {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.header__action-menu-container {
    position: absolute;
    top: 100px;
    right: 5px;
    width: 300px;
    height: fit-content;
    padding: 30px 10px;
    border: 1px solid black;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.header__logout-button {
    cursor: pointer;
    position: absolute;
    border: none;
    color: #ffffff;
    background-color: #0077cc;
    font-weight: bold;
    font-size: 20px;
    width: 90%;
    height: 50px;
    border-radius: 10px;
}

.hide {
    display: none;
}