@use "components/Header/Header.scss";
@use "components/AdCard/AdCard.scss";
@use "components/Filter/Filter.scss";
@use "components/AuthPopup/AuthPopup.scss";
@use "components/MainPhoto/MainPhoto.scss";
@use "components/MainPage/MainPage.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
    margin: 0 0 50px;
}
