.ad-card {
    display: flex;
    flex-direction: column;
    min-width: 343px;
    max-width: 343px;
    min-height: 400px;
    max-height: 400px;
    border-radius: 20px;
    border: 1px #000 solid;
    overflow: hidden;
    position: relative;
}

.ad-card__button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background-color: unset;
    border: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-card__img3 {
    max-width: 16px;
    max-height: 16px;
}

.ad_card__img1 {
    min-width: 100%;
    max-width: 100%;
    min-height: 290px;
    max-height: 290px;
    object-fit: cover;
}

.ad-card__location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.ad-card__p1 {
    font-size: 20px;
    margin: 0;
}

.ad-card__p2 {
    font-size: 16px;
    font-style: italic;
    margin: 0;
}

.ad-card__author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.ad-card__img2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.ad-card__info {
    background-color: white;
    height: 110px;
    display: flex;
    justify-content: space-around;
}

.ad-card__score {
    font-style: italic;
}

.ad-card__href {
    color: #808080;
    font-size: 14px;
    position: relative;
    bottom: -10px;
}

.ad-card__image-pagination-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 115px;
    height: 10px;
    width: 100%;
    gap: 5px;
}

.ad-card__circle {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #fff;
}

.ad-card__circle--fill {
    background: #FFA552;
}
