body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
}

header {
    background-color: #ffffff;
    height: 156px;
    display: flex;
    align-items: center;
}

.header-hrefs {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.hrefs {
    color: #635B5B;
    text-decoration: none;
    font-size: 24px;
    font-style: italic;
}

.icon {
    padding-left: 50px;
}

.active-href {
    font-weight: bold;
}

.name {
    margin-left: auto;
    margin-right: auto;
}

.signs {
    display: flex;
    width: 130px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.entry-button button {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFA552;
    border: none;
    border-radius: 10px;
    width: 115px;
    height: 36px;
    margin-left: 50px;
    margin-right: 50px;
}

