@import "components/Header/Header.css";
@import "components/AdCard/AdCard.css";
@import "components/Filter/Filter.css";
@import "components/AuthPopup/AuthPopup.css";
@import "components/MainPhoto/MainPhoto.css";
@import "components/MainPage/MainPage.css";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
    margin: 0 0 50px;
}
