<div class="profile-container">
    <div class="profile-container__photo">
        <img src="../../images/default_user_icon.png" alt="Аватар пользователя">
    </div>
    <p class="profile-container__name">{{name}}</p>
    <p class="profile-container__city">{{city}}</p>
</div>