<div class="profile-overlay">
    <div class="profile-list">
        {{#each this}}
            <div>
                <a href="{{this.href}}" id="{{@key}}" class="profile-list__href">
                    <h2>{{this.title}}</h2>
                </a>
            </div>
            <hr class="profile-list__underline">
        {{/each}}
    </div>
</div>