.popup {
    position: fixed;
    width: 400px;
    height: 520px;
    min-height: fit-content;
    top: 25%;
    left: 37%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.popup input {
    min-height: 40px;
    padding-left: 8%;
    font-size: 16px;
}

.popup input::placeholder {
    color: #635B5B;
    font-size: 18px;
}

.auth-img {
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.auth-message {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.inputs {
    border: 1px solid black;
    border-radius: 5px;
    height: 8%;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
}

.login-button {
    background-color: #FFA552;
    color: #ffffff;
    cursor: pointer;
    margin: 5% 20% 10%;
    border: none;
    border-radius: 10px;
    height: 40px;
    min-height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.have-account {
    /*position: absolute;*/
    bottom: 0;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    margin-left: 20%;
    margin-right: 20%;
}

.have-account a {
    color: #FFA552;
    text-decoration: none;
}

.close-cross {
    position: relative;
    top: 5%;
    left: 85%;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.bold {
    font-weight: bold;
    cursor: pointer;
}